<p>
    This is an example page for Templar, an Azure Functions library that uses templating to render static web pages and serves 
    them to your users. This example demonstrates the most basic functionality.
</p>
<ul>
    <li>You can use @Bindings</li>
    {Component:Test1}
    {Component:Test2 testparam="You can add parameters to your components to pass values down"}
    @*<li>You can comment out sections of code like this! 
        Comments are stripped from your document before any binding occurs.</li>*@
</ul>
<p>
    Feel free to copy this example project to use a template to get you started!
</p>